@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}


.wrapper,
.portafolio{
  width: 100vw;
  height: 100vh;
  background-color: rgb(69, 15, 119);
  color: aliceblue;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.brand {
  margin-top: -7px;
  font-weight: bold;
  font-size: larger;
}

.brand span {
  color: aquamarine;
}

.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: white; 
  text-decoration: none;
  padding: 10px 20px;
  font-size: large;
  font-weight: bold;
}

.menu .active {
  color: aquamarine;
}

.menu a:hover {
  background-color: aquamarine;
  color: black;
  transition: ease-in .4s;
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}

h1 {
  font-size: 3em;
}

span {
  color: aquamarine;
}

.Download-cv {
  padding: 10px 20px;
  background-color: aquamarine;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 1px 3px  11px -5px rgba(102, 231, 200, .69);
}


.Download-cv:hover {
  background-color: #fff;
  box-shadow: none;
}

.main img {
  width: 430px;
  border: 9px solid aquamarine;
  height: 520px;
  margin-left: 150px;
}

.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}

.about img {
  width: 80%;
  grid-column: 1/5;
}

.about-info {
  grid-column: 5/10;
}

.about-info h2 {
  font-size: 2em;
  color: rgb(69, 15, 119);
}

.divider {
  height: 4px;
  width: 60px;
  background-color: aquamarine;
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
}

